.top-block {
	color:black;
    position:relative;
    width: 1570px;	
	height:70px; 
	Left:5px;
	top:-3px;
	font-style:Oblique;
	border-style:solid;
	border-radius:15px;
	}
.left-block {
	color:black;
    position:relative;
    width: 1570px;	
	height:70px; 
	Left:5px;
	top:-3px;
	font-style:Oblique;
	border-style:solid;
	border-radius:15px;
	}	